.forgotYourPasswordPage{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center; 
}

.forgotYourPassword{
    background-color: aliceblue;
    box-shadow:6px 10px 13px 0px;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    flex-direction: column;
}

.forgotYourPassword label{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forgotYourPassword form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}

.forgotYourPassword span{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0.5em;
}

.forgotYourPassword input[type='submit']{
    height: 35px;
    width: 100px;
    margin:1.5em 0;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    background-color: rgba(2, 214, 230, 0.959);
    font-size: 14px;
    transition: 0.5s;
}

.forgotYourPassword input[type='submit']:hover{
    background-color: rgb(47, 238, 252);
}

.forgotYourPassword input[type='email']{
    height: 35px;
    padding: 0.2em;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #222;
    font-size: 16px;
}

.error{
    color: red;
    font-weight: bold;
    padding-top: 0.5em;
    margin-bottom: -0.5em;
}

@media (max-width:435px){
    .forgotYourPassword{
        width:300px ;
        height: 300px;
    }
    .forgotYourPassword h1{
        font-size: 25px;
    }

    .forgotYourPassword span{
        font-size: 16px;
    }

    .forgotYourPassword input[type='email']{
        font-size: 14px;
        border-bottom: 0.5px solid #000;
    }
}

@media (max-width:333px){
    .forgotYourPassword{
        width:250px ;
        height: 250px;
    }
    .forgotYourPassword h1{
        font-size: 20px;
    }

    .forgotYourPassword span{
        font-size: 14px;
    }

    .forgotYourPassword input[type='email']{
        font-size: 12px;
    }

    .forgotYourPassword input[type='submit']{
        height: 25px;
        width: 90px;
        font-size: 14px;
    }
}